.container{
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
.clearfix,
.header_hat::after,
.header_logo::after
{
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
}
.title{
	font-weight: 400;
	font-family: 'Conv_Myriad-Pro';
	font-size: 47px;
}