@media screen and (max-width: 720px) {

.header_logo{
	float: none;

}
.header_menu{
	display: block;
	float: none;
	padding: 30px 0 0 0; 

}
.header_menu_link{
	padding: 11px 5.3px;

}
.health_calories,.health_fat,.health_water,.health_protein{
	position: static;	
	margin: 0;
}
.health_calories::after,
.health_fat::after,
.health_water::after,
.health_protein::after{
	content: none;
	width: 0;
	height: 0;
}
.footer_link{
	margin-right: 24px;
}
}
@media screen and (max-width: 480px) {
	.footer_link{
		display: block;
	}
	.header_menu{
		visibility: hidden;
		opacity: 0;
		transition: all 1s ease;
		position: absolute;
		margin: 0 auto;
		right: 0;
		left: 0;
		background: #416a42	;
		width: 150px;		
	}
	.header_menu_link:hover{
		border: 0px solid transparent ;
	
	}
	.header_menu_link{
		display: block;
		
	}
	.header_button{
		display: block;
		color: #ffffff;
		font-family: 'Conv_Myriad-Pro-Semibold';
		font-size: 21px;
		font-weight: 400;
		margin-top: 30px;
		
	}
	#chek:checked + .header_menu{
		visibility: visible;
		opacity: 1;
		

	}
	#chek:checked + .header_menu>.header_menu_link{
		padding: 10px;
		border: 3px solid transparent;
	}
	
	.section_header{
		position: relative;
	}
	.footer_menu ,.footer_reserv{
		padding-left: 10px
	}
	.footer_link{
		margin: 0;
	}
}




