@media screen and (max-width: 600px) {

.header_logo{
	float: none;

}
.header_menu{
	display: inline-block;
	float: none;
}
.header_menu_link{
	padding: 11px 5.3px;

}
.health_calories,.health_fat,.health_water,.health_protein{
	position: static;
	width: 303px;
	margin: 0;

}
.health_calories::after,
.health_fat::after,
.health_water::after,
.health_protein::after{
	content: none;
	width: 0;
	height: 0;
}
.footer_link{
	margin-right: 24px;
}
}