.section_plans{
	padding: 11.9% 0 11.3% 0;
	text-align: center;
}
.plans_title{
	color: #4e4e4e;
	line-height: 50.08px;
	letter-spacing: -0.72px;
	padding: 0 0 18px 0;
}
.plans_content{
	color: #737070;
	font-family: 'Conv_Myriad-Pro';
	font-size: 25px;
	padding: 0 0 9.4% 0;
}
.plans_offer{
	display: inline-block;
	background-color: #d3cfcf;
	width: 31%;
	margin: 0 1% 40px ;
	text-align: center;
    word-spacing: normal;
    min-width: 210px;
	
}
.plans_offer_title{
	color: #afacac;
	font-family: 'Conv_Myriad-Pro';
	font-size: 33px;
	padding: 36px 0 0 0;
	word-spacing: -8px;

	}
.palans_offer_title_strong{
	color: #7d7b7b;
	font-family: 'Conv_Myriad-Pro-Semibold';
	font-size: 33px;
}
.plans_offer_content{
	color: #4e4e4e;
	font-family: 'Conv_Myriad-Pro';
	font-size: 32px;
	padding: 51px 0 0 0;
}
.plans_offer_price{
	color: #b38e48;
	font-family: 'Conv_Myriad-Pro';
	font-size: 32px;
	padding: 16px 0 37px 0;
}
.plans_offer_batton{
	color: #e9ede9;
	font-family: 'Conv_Myriad-Pro';
	font-size: 16px;
	display: inline-block;
	line-height: 40px;
	width: 116px;
	background-color: #71ae5a;
	border-radius: 13px;
	margin:  0 0 41px 0;
}
.plans_price{
	word-spacing: -4px;
}